<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Indecol Data Visualization - World Map</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled and minified css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/maps/modules/map.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/custom/world.js"></script>
    <script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>

    <link href="{{ url_for('static', filename='css/bootstrap-colorpicker.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/bootstrap-colorpicker.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-filestyle.min.js') }}"></script>

    <link href="{{ url_for('static', filename='css/ardaweb.css') }}" rel="stylesheet">

    {#json editor#}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jsoneditor.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/jsoneditor.css') }}" rel="stylesheet">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>


    <script type="text/javascript" src="{{ url_for('static', filename='js/iso3_country.js') }}"></script>

    <style>
        #wrapper {
            padding-left: 300px;
            transition: all 0.4s ease 0s;
        }

        #sidebar-wrapper {
            padding-top: 150px;
            margin-left: -300px;
            left: 300px;
            width: 300px;
            background: #000;
            position: fixed;
            height: 100%;
            overflow-y: auto;
            z-index: 1000;
            transition: all 0.4s ease 0s;
        }

        #wrapper.active {
            padding-left: 0;
        }

        #wrapper.active #sidebar-wrapper {
            left: 0;
        }

        #page-content-wrapper {
            width: 100%;
        }

        .sidebar-nav {
            position: absolute;
            top: 0;
            width: 300px;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .sidebar-nav li {
            line-height: 40px;
            text-indent: 20px;
        }

        .sidebar-nav li a {
            color: #999999;
            display: block;
            text-decoration: none;
            padding-left: 60px;
        }

        .sidebar-nav li a span:before {
            position: absolute;
            left: 0;
            color: #41484c;
            text-align: center;
            width: 20px;
            line-height: 18px;
        }

        .sidebar-nav li a:hover,
        .sidebar-nav li.active {
            color: #fff;
            background: rgba(255, 255, 255, 0.2);
            text-decoration: none;
        }

        .sidebar-nav li a:active,
        .sidebar-nav li a:focus {
            text-decoration: none;
        }

        .sidebar-nav > .sidebar-brand {
            height: 65px;
            line-height: 60px;
            font-size: 18px;
        }

        .sidebar-nav > .sidebar-brand a {
            color: #999999;
        }

        .sidebar-nav > .sidebar-brand a:hover {
            color: #fff;
            background: none;
        }

        .content-header {
            height: 65px;
            line-height: 65px;
        }

        .content-header h1 {
            margin: 0;
            margin-left: 20px;
            line-height: 65px;
            display: inline-block;
        }

        .btn-menu {
            color: #000;
        }

        .inset {
            padding: 20px;
        }

        @media (max-width: 767px) {

            #wrapper {
                padding-left: 0;
            }

            #sidebar-wrapper {
                left: 0;
            }

            #wrapper.active {
                position: relative;
                left: 300px;
            }

            #wrapper.active #sidebar-wrapper {
                left: 300px;
                width: 300px;
                transition: all 0.4s ease 0s;
            }

            #menu-toggle {
                display: inline-block;
            }

            .inset {
                padding: 15px;
            }

        }

        /* Absolute Center Spinner */
        .loading {
            position: fixed;
            z-index: 999;
            height: 2em;
            width: 2em;
            overflow: visible;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        /* Transparent Overlay */
        .loading:before {
            content: '';
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
        }

        /* :not(:required) hides these rules from IE9 and below */
        .loading:not(:required) {
            /* hide "loading..." text */
            font: 0/0 a;
            color: transparent;
            text-shadow: none;
            background-color: transparent;
            border: 0;
        }

        .loading:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            -webkit-animation: spinner 1500ms infinite linear;
            -moz-animation: spinner 1500ms infinite linear;
            -ms-animation: spinner 1500ms infinite linear;
            -o-animation: spinner 1500ms infinite linear;
            animation: spinner 1500ms infinite linear;
            border-radius: 0.5em;
            -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
            box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
        }

        /* Animation */

        @-webkit-keyframes spinner {
            0% {
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @-moz-keyframes spinner {
            0% {
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @-o-keyframes spinner {
            0% {
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @keyframes spinner {
            0% {
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        /* Tooltip container */
        .tooltip {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
        }

        /* Tooltip text */
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;

            /* Position the tooltip text - see examples below! */
            position: absolute;
            z-index: 1;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }

    </style>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-87948461-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>

<body onload="setWorldMap();">

<div id="navigation">
    {% include 'components/navbar.html' %}
</div>

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <nav id="spy">
            <ul class="sidebar-nav nav" id="list">
                <li>
                    <hr>
                    <label style="color: #e4f8ff">Input files</label>
                </li>
                <li class="sidebar-brand" title="Add input file which is no header comma or semicolon separated
                values of country name in ISO3 format and value f.e. NOR, 1">
                    <input type="file" class="filestyle" data-classButton="btn btn-info" accept=".csv"
                           data-input="false" data-classIcon="icon-plus" data-buttonText="Upload data file"
                           onchange="handleFiles(this.files)">
                </li>
                <li title="Upload parameters configuration file which is json format">
                    <input type="file" class="filestyle" data-classButton="btn btn-primary" accept=".json"
                           data-input="false" data-classIcon="icon-plus" data-buttonText="Upload config JSON"
                           onchange="uploadJsonConfig(this)">
                </li>
                <li>
                    <hr>
                    <label style="color: #e4f8ff">Configuration</label>
                </li>
                <li>
                    <span></span>
                </li>
                {#                <li title="Select map type">#}
                {#                    <div class="dropdown">#}
                {#                        <span class="label label-info">Map Type</span>#}
                {#                        <button class="btn btn-default dropdown-toggle" type="button" id="maptype"#}
                {#                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">#}
                {#                            World default#}
                {#                            <span class="caret"></span>#}
                {#                        </button>#}
                {#                        <ul class="dropdown-menu" aria-labelledby="maptype">#}
                {#                            <li><a href="#">World default</a></li>#}
                {#                        </ul>#}
                {#                    </div>#}
                {#                </li>#}


                <li title="Add new color picker. The range is equally divided by number of colors. It meas that if 4 colors
are used the range is 0-0.25, 0.25-0.5, etc">
                    <button type="submit" class="btn btn-info .btn-sm" onclick="addColorPicker()">Add Color</button>
                </li>
                <li>
                    <label style="color: #e4f8ff">Color Scale</label>
                    <br>
                    <div id="colorRadioBtn" class="btn-group" data-toggle="buttons">
                        <label style="color: #e4f8ff" class="radio-inline"><input type="radio" id="continues-rb"
                                                                                  name="optradio"
                                                                                  checked="">Gradient</label>
                        <label style="color: #e4f8ff" class="radio-inline"><input type="radio" id="interval-rb"
                                                                                  name="optradio">Interval</label>
                    </div>
                </li>
                <li title="Set linear/logarithmic scale">
                    <div class="checkbox">
                        <label style="color: #e4f8ff" class="radio-inline">
                            <input type="radio" name="scaleOption" id="linear" checked=""> linear
                        </label>
                        <label style="color: #e4f8ff" class="radio-inline">
                            <input type="radio" name="scaleOption" id="logarithmic"> logarithmic
                        </label>
                    </div>
                </li>
                <li title="Set color for missing numbers (NaN)">
                    <div id="cpNaN" class="input-group colorpicker-component" onclick="colorPicker('nan')">
                        <span class="input-group-addon">NaN Color</span>
                        <input type="text" value="#ffffff" class="form-control"/>
                        <span class="input-group-addon"><i></i></span>
                    </div>
                </li>
                <li title="Set color for background">
                    <div id="bgColor" class="input-group colorpicker-component" onclick="colorPicker('bg')">
                        <span class="input-group-addon">Background Color</span>
                        <input type="text" value="#ffffff" class="form-control"/>
                        <span class="input-group-addon"><i></i></span>
                    </div>
                </li>
                <li title="Set minimum value">
                    <div class="input-group">
                        <span class="input-group-addon">Min Value</span>
                        <input type="text" value="1" class="form-control" id="minVal" aria-label="Minimum value">
                    </div>
                </li>
                <li title="Set maximum value">
                    <div class="input-group">
                        <span class="input-group-addon">Max Value</span>
                        <input id="maxVal" type="text" value="100" class="form-control" aria-label="Maximum value">
                    </div>
                </li>
                <li title="Set title">
                    <div class="input-group">
                        <span class="input-group-addon">Title</span>
                        <input id="title" type="text" value="World Map" class="form-control" aria-label="Title">
                    </div>
                </li>
                <li title="Set subtitle">
                    <div class="input-group">
                        <span class="input-group-addon">Subtitle</span>
                        <input id="subtitle" type="text" value="Subtitle" class="form-control" aria-label="Subitle">
                    </div>
                </li>
                <li title="Set units">
                    <div class="input-group">
                        <span class="input-group-addon">Unit</span>
                        <input id="unit" type="text" value="" class="form-control" aria-label="Unit">
                    </div>
                </li>
                <li title="Set format of values to be shown">
                    <div class="input-group">
                        <span class="input-group-addon">Value Format</span>
                        <input id="valFormat" type="text" value="" class="form-control" aria-label="valFormat" disabled>
                    </div>
                </li>
                <li title="Set legend text">
                    <div class="input-group">
                        <span class="input-group-addon">Legend text</span>
                        <input id="legend" type="text" value="Legend" class="form-control" aria-label="legendText">
                    </div>
                </li>
                <li title="Set if country codes should be shown">
                    <div class="checkbox">
                        <label class="btn btn-primary active">
                            <input type="checkbox" id="showcountrynames" checked=""> Show country names
                        </label>
                    </div>
                </li>
                <li>
                    <input type="button" class="btn btn-success" onclick="updateParamsForm()" value="Submit">
                </li>
                <li>
                    <input type="button" class="btn btn-info " onclick="json_editor()" value="View configuration">
                    <input type="button" class="btn btn-info " onclick="data_editor()" value="View data">
                </li>
            </ul>
        </nav>

    </div>

    <!-- Page content -->
    <div id="page-content-wrapper">
        <div class="loading" id="spinnerIcon">Loading&#8230;</div>
        <div class="page-content inset" data-spy="scroll" data-target="#spy">
            <div class="row" id="map">
            </div>
        </div>
    </div>
</div>

<!-- Trigger the modal with a button -->

<!-- Modal -->
<div id="jsoneditormodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Configuration json file editor</h4>
            </div>
            <div class="modal-body">
                <div id="jsoneditor"></div>
            </div>
            <div class="modal-footer row">
                <button type="button" class="btn btn-default" onclick="downloadJsonConfig()">Download</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="datatable" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Configuration data editor</h4>
            </div>
            <div class="modal-body">
                <div id="data_editor"></div>
            </div>
            <div class="modal-footer row">
                {#                <button type="button" class="btn btn-default" onclick="downloadJsonConfig()">Download</button>#}
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
    var series_data = [];
    var colorCount = 2;

    var config = {
        version: 0.1,
        mapType: 'World default',
        title: "World map",
        subtitle: "Subtitle",
        colors: [[0, '#0099ff'], [1, '#990041']],
        NaNColor: '#ffffff',
        backgroundColor: '#ffffff',
        minValue: 1,
        maxValue: 100,
        scale: 'linear',
        legendText: 'Legend',
        unit: '',
        showCountryNames: 'true',
        valueFormat: '',
        colorAxis: 'gradient',
        colors: [[0, '#0099ff'], [1, '#990041']],
        dataClasses: [{color: 'red', from: 0, to: 1}]
    };

    $(function () {
        $('.sidebar-nav').keypress(function (e) {
            if (e.which == 13) {
                updateParamsForm();
            }
        })
    })
    /*Menu-toggle*/
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });

    /*Scroll Spy*/
    $('body').scrollspy({target: '#spy', offset: 80});


    function uploadJsonConfig(evt) {
        var files = evt.files; // FileList object
        for (var i = 0, f; f = files[i]; i++) {
            var reader = new FileReader();
            // Closure to capture the file information.
            reader.onload = (function (theFile) {
                return function (e) {
                    try {
                        var json = JSON.parse(e.target.result);
                        setNewConfig(json, 'json');
                    } catch (ex) {
                        alert('Error when trying to parse json = ' + ex);
                    }
                }
            })(f);
            reader.readAsText(f);
        }
    }

    function addColorPicker(color) {
        if (!color) {
            color = '#ffffff'
        }
        colorCount += 1;

        var display = $("#continues-rb")[0].checked ? "display:none" : "";

        $("#list li:eq(" + (colorCount + 2) + ")").after("<li style=\"margin: 0 0 3px 0;\">\
             <div class=\"row interval-input\" style=" + display + ">\
             <div class=\"col-md-6\">\
             <div class=\"input-group\">\
              <input type=\"text\" placeholder=\"From\" id=\"interval_from" + colorCount + "\" class=\"form-control\">\
             </div>\
             </div>\
             <div class=\"col-md-6\">\
             <div class=\"input-group\">\
              <input type=\"text\" id=\"interval_to" + colorCount + "\" placeholder=\"To\" class=\"form-control\">\
             </div>\
             </div>\
             </div>\
            <div id=\"color" + colorCount + "\" class=\"input-group colorpicker-component\" onclick=\"colorPicker(\'color" + colorCount + "\')\">\
                        <input type=\"text\" value=\"" + color + "\" class=\"form-control\"/>\
                        <span class=\"input-group-addon\"><i></i></span>\
                    </div></li>");

        colorPicker('color' + colorCount);
    }

    $("#colorRadioBtn :input").change(function () {
        if (this.id === 'interval-rb') {
            $(".interval-input").show();
            document.getElementById("logarithmic").disabled = true;
            document.getElementById("linear").disabled = true;
        } else {
            $(".interval-input").hide();
            document.getElementById("logarithmic").disabled = false;
            document.getElementById("linear").disabled = false;
        }
    });

    $(document).ready(
        function () {
            $('input:text').each(
                function () {
                    $(this)
                        .val($(this).attr('placeholder'))
                        .css('color', '#999');
                    $(this).click(
                        function () {
                            $(this)
                                .val('')
                                .css('color', '#000');
                        });
                    $(this).blur(
                        function () {
                            if ($(this).val() === '') {
                                $(this)
                                    .val($(this).attr('placeholder'))
                                    .css('color', '#999');
                            }
                        });
                });
        });

    function colorPicker(type) {
        if (type.startsWith('color')) {
            $('#' + type).colorpicker({
                align: 'left'
            });
        }
        else if (type === 'max') {
            $('#cpMax').colorpicker({
                align: 'left'
            });
        }
        else if (type === 'nan') {
            $('#cpNaN').colorpicker({
                align: 'left'
            });
        }
        else if (type === 'bg') {
            $('#bgColor').colorpicker({
                align: 'left'
            });
        }
    }

    function handleFiles(files) {
        // Check for the various File API support.
        if (window.FileReader) {
            // FileReader are supported.
            getAsText(files[0]);
        } else {
            alert('FileReader are not supported in this browser.');
        }
    }

    function getAsText(fileToRead) {
        var reader = new FileReader();
        // Read file into memory as UTF-8
        reader.readAsText(fileToRead);
        // Handle errors load
        reader.onload = loadHandler;
        reader.onerror = errorHandler;
    }

    function loadHandler(event) {
        var csv = event.target.result;
        processData(csv);
    }

    function errorHandler(evt) {
        if (evt.target.error.name == "NotReadableError") {
            alert("Can't read file !");
        }
    }

    function processData(csv) {
        var allTextLines = csv.split(/\r\n|\n/);
        updateMap(allTextLines, 'csv')
    }

    function updateMap(input, type) {
        if (type === 'csv') {
            // the country codes are ISO3, which means the separator is 4th character
            var sep = input[0][3]
            $('#spinnerIcon').show();
            var input_data = [];
            for (var i = 0; i < input.length; i++) {
                var data = input[i].split(sep);
                var vals = {
                    code: data[0],
                    value: data[1]
                };
                input_data.push(vals);
            }
        }
        else if (type === 'json') {
            var input_data = input;
        }

        series_data = input_data;
        var series_arr = series_data.map(function (o) {
            return parseInt(o.value);
        });
        var maxVal = Math.max.apply(Math, series_arr.filter(function (n) {
            return !isNaN(n);
        }));
        var minVal = Math.min.apply(Math, series_arr.filter(function (n) {
            return !isNaN(n) && n > 0;
        }));
        $('#minVal').val(minVal);
        $('#maxVal').val(maxVal);
        updateParamsForm();
        $('#spinnerIcon').hide();
    }

    function updateParamsForm() {
        $('#spinnerIcon').show();
        var configNew = {
            version: 0.1,
            mapType: 'World default',
            title: "World map",
            subtitle: "Subtitle",
            NaNColor: '#ffffff',
            backgroundColor: '#ffffff',
            minValue: 1,
            maxValue: 100,
            scale: 'linear',
            legendText: '',
            unit: '',
            showCountryNames: 'true',
            valueFormat: '',
            colorAxis: 'gradient',
            colors: [[0, '#0099ff'], [1, '#990041']],
            dataClasses: [{color: 'red', from: 0, to: 1}]
        };

        configNew.colorAxis = document.getElementById('continues-rb').checked ? 'gradient' : 'interval';
        configNew.backgroundColor = $('#bgColor').colorpicker('getValue');
        configNew.NaNColor = $('#cpNaN').colorpicker('getValue');
        configNew.minValue = parseFloat($('#minVal').val());
        configNew.maxValue = parseFloat($('#maxVal').val());
        configNew.title = $('#title').val();
        configNew.subtitle = $('#subtitle').val();
        configNew.scale = $('#linear').is(':checked') ? 'linear' : 'logarithmic';
        configNew.showCountryNames = $('#showcountrynames').is(':checked');
        configNew.unit = $('#unit').val();
        configNew.legendText = $('#legend').val();


        if (configNew.colorAxis === 'gradient') {
            if (colorCount == 2) {
                var minC = $('#color1').colorpicker('getValue');
                var maxC = $('#color2').colorpicker('getValue');
                configNew.colors = [[0, minC], [1, maxC]];
            } else {
                var valueInc = 1 / colorCount;
                var colorArr = []
                var step = 0;
                for (var i = 0; i < colorCount; i++) {
                    var cVal = $('#color' + (i + 1)).colorpicker('getValue');
                    colorArr.push([step, cVal]);
                    step += valueInc;
                }
                configNew.colors = colorArr;
            }
        } else if (configNew.colorAxis === 'interval') {
            var intervals = [];
            for (var i = 0; i < colorCount; i++) {
                var color_val = $('#color' + (i + 1)).colorpicker('getValue');
                var from_val = parseFloat($('#interval_from' + (i + 1)).val());
                var to_val = parseFloat($('#interval_to' + (i + 1)).val());
                intervals.push({color: color_val, from: from_val, to: to_val});
            }
            configNew.dataClasses = intervals;
        }

        setNewConfig(configNew, 'form')
    }

    function getColors(configNew) {
        if (configNew.colorAxis === 'gradient') {
            if (colorCount == 2) {
                var minC = configNew.colors[0][1];
                var maxC = configNew.colors[1][1];
                return {
                    minColor: minC,
                    maxColor: maxC,
                    min: configNew.minValue,
                    max: configNew.maxValue,
                    type: configNew.scale
                };
            } else {
                return {
                    stops: configNew.colors,
                    min: configNew.minValue,
                    max: configNew.maxValue,
                    type: configNew.scale
                };
            }
        } else if (configNew.colorAxis === 'interval') {
            return {dataClasses: configNew.dataClasses};
        } else {
            alert('The color axis: ' + configNew.colorAxis + ' is not supported!')
            return {};
        }
    }

    function setNewConfig(configNew, source) {
        if (source === 'json') {
            for (var i = 0; i < colorCount; i++) {
                var elem = document.getElementById('color' + (i + 1));
                elem.parentNode.removeChild(elem);
                elem = document.getElementById('interval_from' + (i + 1));
                elem.parentNode.removeChild(elem);
                elem = document.getElementById('interval_to' + (i + 1));
                elem.parentNode.removeChild(elem);
            }
            $("#list li:eq(3)").after("<li  style=\"margin: 0 0 3px 0;\">\
                     <div class=\"row interval-input\" style=\"display:none\">\
             <div class=\"col-md-6\">\
             <div class=\"input-group\">\
              <input type=\"text\" id=\"interval_from1\" placeholder=\"From\" class=\"form-control \" id=\"from\">\
             </div>\
             </div>\
             <div class=\"col-md-6\">\
             <div class=\"input-group\">\
              <input type=\"text\" id=\"interval_to1\" placeholder=\"To\" class=\"form-control \" id=\"to\">\
             </div>\
             </div>\
             </div>\
            <div id=\"color1\" class=\"input-group colorpicker-component\" onclick=\"colorPicker(\'color" + colorCount + "\')\">\
                           <input type=\"text\" value=\"#0099ff\" class=\"form-control\"/>\
                           <span class=\"input-group-addon\"><i></i></span>\
                        </div></li>");
            $("#list li:eq(4)").after("<li  style=\"margin: 0 0 3px 0;\">\
                     <div class=\"row interval-input\" style=\"display:none\">\
             <div class=\"col-md-6\">\
             <div class=\"input-group\">\
              <input type=\"text\" id=\"interval_from2\" placeholder=\"From\" class=\"form-control \" id=\"from\">\
             </div>\
             </div>\
             <div class=\"col-md-6\">\
             <div class=\"input-group\">\
              <input type=\"text\" id=\"interval_to2\" placeholder=\"To\" class=\"form-control \" id=\"to\">\
             </div>\
             </div>\
             </div>\
             <div id=\"color2\" class=\"input-group colorpicker-component\" onclick=\"colorPicker(\'color" + colorCount + "\')\">\
                            <input type=\"text\" value=\"#990041\" class=\"form-control\"/>\
                            <span class=\"input-group-addon\"><i></i></span>\
                        </div></li>");

            colorCount = 2;

            if (configNew.colorAxis === 'gradient') {
                $('#continues-rb').prop('checked', true);
                $('#interval-rb').prop('checked', false);
                $('#color1').colorpicker('setValue', configNew.colors[0][1]);
                $('#color2').colorpicker('setValue', configNew.colors[1][1]);

                for (var i = colorCount; i < configNew.colors.length; i++) {
                    addColorPicker(configNew.colors[i][1]);
                }
                $(".interval-input").hide();
            } else {
                $('#continues-rb').prop('checked', false);
                $('#interval-rb').prop('checked', true);

                $('#color1').colorpicker('setValue', configNew.dataClasses[0].color);
                $('#color2').colorpicker('setValue', configNew.dataClasses[1].color);
                $('#interval_from1').val(configNew.dataClasses[0].from);
                $('#interval_to1').val(configNew.dataClasses[0].to);
                $('#interval_from2').val(configNew.dataClasses[1].from);
                $('#interval_to2').val(configNew.dataClasses[1].to);
                for (var i = colorCount; i < configNew.dataClasses.length; i++) {
                    addColorPicker(configNew.dataClasses[i].color);
                    $('#interval_from' + (i + 1)).val(configNew.dataClasses[i].from);
                    $('#interval_to' + (i + 1)).val(configNew.dataClasses[i].to);
                }

                $(".interval-input").show();
            }
        }

        $('#minVal').val(configNew.minValue);
        $('#maxVal').val(configNew.maxValue);

        if (configNew.scale === 'linear') {
            $('#linear').prop('checked', true);
            $('#logarithmic').prop('checked', false);
        } else {
            $('#logarithmic').prop('checked', true);
            $('#linear').prop('checked', false);
        }

        $('#title').val(configNew.title);
        $('#subtitle').val(configNew.subtitle);

        $('#cpNaN').colorpicker('setValue', configNew.NaNColor);
        if (configNew.showCountryNames) {
            $('#showcountrynames')[0].checked = true;
        }
        else
            $('#showcountrynames')[0].checked = false;

        $('#bgColor').colorpicker('setValue', configNew.backgroundColor);

        $('#legend').val(configNew.legendText)

        $('#unit').val(configNew.unit)

        config = configNew;
        $('#spinnerIcon').hide();

        create_world_map(config);
    }

    function setWorldMap() {
        $("#list li:eq(3)").after("<li  style=\"margin: 0 0 3px 0;\">\
                     <div class=\"row interval-input\" style=\"display:none\">\
             <div class=\"col-md-6\">\
             <div class=\"input-group\">\
              <input type=\"text\" id=\"interval_from1\" placeholder=\"From\" class=\"form-control \" id=\"from\">\
             </div>\
             </div>\
             <div class=\"col-md-6\">\
             <div class=\"input-group\">\
              <input type=\"text\" id=\"interval_to1\" placeholder=\"To\" class=\"form-control \" id=\"to\">\
             </div>\
             </div>\
             </div>\
            <div id=\"color1\" class=\"input-group colorpicker-component\" onclick=\"colorPicker(\'color" + colorCount + "\')\">\
                           <input type=\"text\" value=\"#0099ff\" class=\"form-control\"/>\
                           <span class=\"input-group-addon\"><i></i></span>\
                        </div></li>");
        $("#list li:eq(4)").after("<li  style=\"margin: 0 0 3px 0;\">\
                     <div class=\"row interval-input\" style=\"display:none\">\
             <div class=\"col-md-6\">\
             <div class=\"input-group\">\
              <input type=\"text\" id=\"interval_from2\" placeholder=\"From\" class=\"form-control \" id=\"from\">\
             </div>\
             </div>\
             <div class=\"col-md-6\">\
             <div class=\"input-group\">\
              <input type=\"text\" id=\"interval_to2\" placeholder=\"To\" class=\"form-control \" id=\"to\">\
             </div>\
             </div>\
             </div>\
             <div id=\"color2\" class=\"input-group colorpicker-component\" onclick=\"colorPicker(\'color" + colorCount + "\')\">\
                            <input type=\"text\" value=\"#990041\" class=\"form-control\"/>\
                            <span class=\"input-group-addon\"><i></i></span>\
                        </div></li>");
        colorPicker('color1');
        colorPicker('color2');
        colorPicker('nan');
        colorPicker('bg');
        $('#cpNaN').colorpicker('setValue', '#ffffff');
        $('#bgColor').colorpicker('setValue', '#ffffff');
        $('#spinnerIcon').hide();

        create_world_map(config);

    }

    function create_world_map(map_config) {
        $('#map').highcharts('Map', {
            chart: {
                height: $(window).height() * 0.90,
                style: {
                    fontFamily: 'Arial'
                }
            },
            colorAxis: getColors(map_config),

            title: {
                text: map_config.title
            },
            mapNavigation: {
                enabled: true,
            },
            legend: {
                enabled: true,
                align: 'left',
                title: {
                    text: map_config.legendText
                },
                layout: 'vertical',
            },
            subtitle: {
                text: map_config.subtitle
            },
            tooltip: {
                formatter: function () {
                    return 'Country: ' + this.point.name + '<br>' +
                        'Value: ' + this.point.value + ' ' + config.unit;
                }
            },
            series: [{
                data: series_data,
                mapData: Highcharts.maps['custom/world'],
                joinBy: ['iso-a3', 'code'],
                dataLabels: {
                    enabled: map_config.showCountryNames,
                    color: '#FFFFFF',
                    format: '{point.code}'
                },
                nullColor: map_config.NaNColor
            }
            ],

            exporting: {
                sourceWidth: 1200,
                sourceHeight: 900,
            }
        });

        $('rect.highcharts-background').css('fill', map_config.backgroundColor);

    }

    function json_editor() {
        var container = document.getElementById("jsoneditor");
        container.innerHTML = "";
        var options = {mode: 'view'};
        var editor = new JSONEditor(container, options);
        // set json
        editor.set(config);

        // get json
        var json = editor.get();
        $('#jsoneditormodal').modal('show');
    }


    function downloadJsonConfig() {
        var json = JSON.stringify(config);
        var blob = new Blob([json], {type: "application/json"});
        var url = URL.createObjectURL(blob);

        var a = document.createElement('a');
        a.download = "WorldMapConfig.json";
        a.href = url;
        a.textContent = "Download-backup.json";
        a.click();
    }


    function data_editor() {
        google.charts.load('current', {'packages': ['table']});
        google.charts.setOnLoadCallback(drawTable);

        function drawTable() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Country Name');
            data.addColumn('string', 'Country Code');
            data.addColumn('number', 'Value');

            for (var i = 0; i < series_data.length; i++) {
                if (series_data[i].value) {
                    var index = data.addRow([iso3_to_country_name(series_data[i].code),
                        series_data[i].code, parseFloat(series_data[i].value)]);
                    if (iso3_to_country_name(series_data[i].code) === 'UNKNOWN') {
                        data.setProperty(index, 0, 'style', 'background-color: red;');
                    }
                }
            }

            var table = new google.visualization.Table(document.getElementById('data_editor'));

            table.draw(data, {allowHtml: true, showRowNumber: true, width: '100%', height: '50%'});

            $('#datatable').modal('show');
        }

    }


</script>
</body>

</html>